body {
	overflow: hidden;
	margin: 0px;
}

.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

#toolbar {
	text-align: center;
	background-color: #dceaf9;
	white-space: nowrap;
	border: 1px solid #AAD3FF;
	padding: 4px 2px 8px 2px;
	position: absolute;
	z-index: 4000000;
	top: 0px;
	visibility: hidden;
	font-size: 13px;
}

#toolbarHandle {
	float: right;
	background-color: #dceaf9;
	border-top: none;
	border-left: 1px solid #AAD3FF;
	border-right: 1px solid #AAD3FF;
	border-bottom: 1px solid #AAD3FF;
	position: absolute;
	height: 8px;
	width: 6px;
	padding: 0px 4px 0px 4px;
	cursor: pointer;
	visibility: hidden;
	background-image: url(../images/handle_up.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3999994;
}
